{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ item.featured_image.url }}" alt="{{ item.title }}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ item.title }} |<span class="badge bg-dark text-white ms-1 rounded-pill">{{ item.get_category_display_name }}</span></h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {% if item.discount_price %}
                            <span class="text-decoration-line-through">£{{ item.price }}</span>
                            <p class="text-center">£{{ item.discount_price }}</p>
                            {% else %}
                            <p class="text-center">£{{ item.price }}</p>
                            {% endif %}
                        </div>
                        <a class="btn btn-outline-dark" href="{% url 'store:item_detail' slug=item.slug %}">
                            View Item
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}