{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/online_store.css' %}">
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
            <div class="col mb-5">
                <div class="card">
                    <!-- Product image-->
                    <img class="card-images" src="{{ item.featured_image.url }}" alt="{{ item.title }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ item.title }} |<span class="badge bg-dark text-white ms-1 rounded-pill">{{ item.get_category_display_name }}</span></h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        {% if item.discount_price %}
                            <span class="text-decoration-line-through">£{{ item.price }}</span> <span>£{{ item.discount_price }}</span>
                        {% else %}
                            <p class="text-center">£{{ item.price }}</p>
                        {% endif %}
                    </div>
                    <a class="btn btn-outline-dark" href="{% url 'store:item_detail' slug=item.slug %}">
                        View Item
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="py-5 bg-light text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>What we do </h2>
                <h3>The Haven Store <i class="fa-solid fa-bag-shopping"></i></h3>
                <p>Pole Haven is dedicated to being one of the biggest wholesale retailers for all your favorite brands! This includes clothes, grips, and many accessories that will accompany you on your pole journey<br>
                    Being a small and independent business. Our biggest priority is customer satisfaction and ensuring all customers get their pole items that ensure them a better pole journey.
                </p>
                <h3>Haven Blog <i class="fa-solid fa-newspaper"></i></h3> 
                <p>Our Blog is a great way to stay up to date with all the new things going on in the pole community! Your favorite polers, competitions, or new things going on in the community</p>
                <h3>Expert Advice <i class="fa-solid fa-comments"></i></h3>
                <p>At Pole Haven, we offer expert advice to assist you in your pole journey. Explore our blog for tips, tutorials, and insights from experienced polers and instructors.</p>
                <h3>Community Engagement <i class="fa-solid fa-users"></i></h3>
                <p>We believe in building a supportive pole community. Join us in events, workshops, and online discussions. Connect with fellow pole enthusiasts and share your experiences.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}