{% extends 'base.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/online_store.css' %}">

<section>
    <div class="category-container">
        <h2>Haven Store</h2>
        <form method="get" action="{% url 'store:online-store' %}">
            <label for="category">Filter by Category:</label>
            <select name="category" id="category">
                <option value="">All Categories</option>
                {% for category_key, category_name in categories %}
                    <option value="{{ category_key }}" {% if request.GET.category == category_key %}selected{% endif %}>{{ category_name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>
    <hr>
</section>

<section class="py-5">
    {% if items %}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
                {% if forloop.counter|divisibleby:"4" %}
                    </div><div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% endif %}
                <div class="col mb-5">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-images" src="{{ item.featured_image.url }}" alt="{{ item.title }}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ item.title }} |<span class="badge bg-dark text-white ms-1 rounded-pill">{{ item.get_category_display_name }}</span></h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                            {% if item.discount_price %}
                                <span class="text-decoration-line-through">£{{ item.price }}</span> <span>£{{ item.discount_price }}</span>
                            {% else %}
                                <p class="text-center">£{{ item.price }}</p>
                            {% endif %}
                        </div>
                        <a class="btn btn-outline-dark" href="{% url 'store:item_detail' slug=item.slug %}">
                            View Item
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p class="text-center">No items within this category.</p>
{% endif %}
</section>
{% endblock %}