{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock header %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_styles.css' %}">
<div class="container">
    <div class="img-container">
        <img class="blog-image" src="{% if 'placeholder' in post.featured_image.url %}{% static 'images/default.jpg' %}{% else %}{{ post.featured_image.url }}{% endif %}" alt="..." />
    </div>
    <div class="content-container">
        <div class="title-container">
            <h1>{{ post.title }}</h1>
        </div>
        <hr>
        <div>
            <p>{{ post.content | safe }}</p>
            <p>Created by {{ post.author }}<br> on {{ post.created_on }}</p>
        </div>
        <hr>
        <div class="comment-container">
            <h4>{{ comment_count }} Comments:</h4>
            <div>
                {% for comment in comments %}
                <div class="p-2 comments
                  {% if not comment.approved and comment.author == user %}
                  faded{% elif not comment.approved %} d-none{% endif %}">
                  <p class="font-weight-bold">
                    {{ comment.author }} commented:
                  </p>
                  <div id="comment{{ comment.id }}">
                    {{ comment.body }} <br>
                    {{ comment.created_on }}
                  </div>
                  <hr>
                  {% if not comment.approved and comment.author == user %}
                  <p class="approval">
                    This comment is awaiting approval
                  </p>
                  {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



</div>

{% endblock %}