{% load static %}
{% load cart_count_tags %}

{% url 'home' as home_url %}
{% url 'about-page' as about_url %}
{% url 'blog-page' as blog_url %}
{% url 'online-store' as store_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'order_summary' as order_summary %}
{% url 'store:contact' as contact_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Callum Morgan" >
    <meta name="keywords" content="pole, poledance, polefitness, poleblog, poleshop, eccomerce">
    <meta name="description" content="Pole Haven is a versatile open store where you can buy, blog and get some great tips and tricks as a poler.">
    <title>{% block title %}Pole Haven{% endblock %}</title>
    <link rel="icon" href="{% static 'images/pole-haven-logo.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
     <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'store:home' %}">
                <img src="{% static 'images/pole-haven-logo.png' %}" alt="Pole Haven Logo">                
                Pole Haven
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'store:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == about_url %} active {% endif %}" aria-current="page" href="{% url 'about-page' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == blog_url %} active {% endif %}" aria-current="page" href="{% url 'blog-page' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == store_url %} active {% endif %}" aria-current="page" href="{% url 'store:online-store' %}">Store</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == contact_url %} active {% endif %}" aria-current="page" href="{% url 'store:contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link {% if request.path == logout_url %} active {% endif %}" href="{% url 'account_logout' %}">Log Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link {% if request.path == login_url %} active {% endif %}" href="{% url 'account_login' %}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == signup_url %} active {% endif %}" href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <p class="m-sm-2"> Welcome {{ user }}</p>
                <a class="btn btn-outline-dark" href="{% url 'store:order-summary' %}">
                    {% if request.user|cart_item_count %}
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                        {{ request.user|cart_item_count }}
                    </span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% else %}
                    Empty Cart
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% endif %}
                </a>
                {% else %}
                <a class="btn btn-outline-dark" href="{% url 'account_login' %}">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Info Alert Messages -->
    <section>
        <div id="messages-container" class="container-fluid">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
    
    <!-- Header-->
    {% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to Pole Haven <br> Your Ultimate Pole Fitness Destination!</h1>
                <p class="lead fw-normal text-white mb-4">Explore a World of Possibilities in Pole Fitness</p>
                <p class="lead fw-normal text-white mb-4">Discover the Finest Selection of Pole Wear, Accessories, and More</p>
                <p class="lead fw-normal text-white mb-0">Unleash Your Strength and Style with Our Exclusive Collections</p>
                <a class="btn btn-outline-light mt-4" aria-current="page" href="{% url 'store:online-store' %}">Shop Now</a>
            </div>
        </div>
    </header>
    {% endblock header %}

    <!-- Main content for pages -->
    {% block content %}

    {% endblock %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 text-center">
                    <p class="m-0 text-white footer-title">Quick Links</p>
                    <div class="d-flex flex-column">
                        <a class="nav-link text-white {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'store:home' %}">Home</a>
                        <a class="nav-link text-white {% if request.path == about_url %} active {% endif %}" aria-current="page" href="{% url 'about-page' %}">About</a>
                        <a class="nav-link text-white {% if request.path == blog_url %} active {% endif %}" aria-current="page" href="{% url 'blog-page' %}">Blog</a>
                        <a class="nav-link text-white {% if request.path == store_url %} active {% endif %}" aria-current="page" href="{% url 'store:online-store' %}">Store</a>
                        <a class="nav-link text-white {% if request.path == contact_url %} active {% endif %}" aria-current="page" href="{% url 'store:contact' %}">Contact</a>
                    </div>
                </div>
                <div class="col-md-4 mb-3 text-center">
                    <p class="m-0 text-white footer-title">Pole Haven</p>
                    <p class="text-white">Your ultimate destination for premium pole wear, expert advice, and a vibrant pole fitness community.</p>
                </div>
                
                <div class="col-md-4 mb-3 text-center">
                    <p class="m-0 text-white footer-title">Contact Us</p>
                    <p class="text-white">polehaven@gmail.com</p>
                    <p>
                        <a class="text-white" href="https://www.linkedin.com/in/callum-morgan-8859a1254/" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                        <br>
                        <a class="text-white" href="https://github.com/Cmorgan21" target="_blank">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </p>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- Info Messaging Alert Script -->
    <script src="{% static 'js/messages.js' %}"></script>
    <!-- Javascript Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/31c8bbd3c8.js" crossorigin="anonymous"></script>

</body>
</html>